.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 216, 248);
  background-color: white;
  display: inline-block;
}

.node-start {
  background-color: rgb(175, 248, 181)
}

.node-end {
  background-color: rgb(248, 175, 175);
}

.node-visited {
  background-color: rgb(175, 176, 248);
}

.node-shortest-path {
  background-color: rgb(248, 237, 175)
}

.node-wall {
  background-color: black;
}
